*,*::before, *::after
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root
{
  --base: #555;
  --base-100: #f1f1f1;
  --base-800: #000;
  
}

body
{
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
}

header
{
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .logo-holder
  {
    display: flex;
    padding: 10px;
    .logo
    {

    }
    .logo-text
    {

    }
  }

  nav
  {

  }
}